:root {
  --cc-message--border--radius: var(--cc-border--radius);
  --cc-message--border--width: var(--cc-border--width);
  --cc-message--border--style: var(--cc-border--style);
  --cc-message--border--color: rgb(from var(--cc-border--color) r g b / 21%);
  --cc-message--shadow: var(--cc-shadow--drop);
  --cc-message--padding: var(--cc-size-1);
  --cc-message--padding--sm: var(--cc-size--2);
  --cc-message--background: var(--cc-gray-10);
  --cc-message--title--color: var(--cc-gray-80);
  --cc-message--status--border--radius: var(--cc-border--radius--round);
  --cc-message--status--color: var(--cc-gray-80);
  --cc-message--status--border--color: var(--cc-message--border--color);
  --cc-message--status--border--style: var(--cc-border--style);
  --cc-message--status--border--width: var(--cc-border--width);
  --cc-message--success--background: var(--cc-status--success--background);
  --cc-message--success--color: var(--cc-status--success--color);
  --cc-message--success--border--color: var(--cc-status--success--border-color);
  --cc-message--warning--background: var(--cc-status--warning--background);
  --cc-message--warning--color: var(--cc-status--warning--color);
  --cc-message--warning--border--color: var(--cc-status--warning--border-color);
  --cc-message--error--background: var(--cc-status--error--background);
  --cc-message--error--color: var(--cc-status--error--color);
  --cc-message--error--border--color: var(--cc-status--error--border-color);
  --cc-message--info--background: var(--cc-status--info--background);
  --cc-message--info--color: var(--cc-status--info--color);
  --cc-message--info--border--color: var(--cc-status--info--border-color);
}
