<h2>Page-Level Messages</h2>
<div class="corn-message corn-message--success">
  <div class="corn-message--status">
    <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-hidden="true">
      <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#check-lg"></use>
    </svg>
  </div>
  <div class="corn-message--content">
    <h3 class="corn-message--title">Success Message</h3>
    <p>This is a success message. It indicates that an action was completed successfully.</p>
  </div>
</div>

<hr />

<div class="corn-message corn-message--warning">
  <div class="corn-message--status">
    <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-hidden="true">
      <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#exclamation-triangle"></use>
    </svg>
  </div>
  <div class="corn-message--content">
    <h3 class="corn-message--title">Warning Message</h3>
    <p>
      This is a warning message. It indicates that there is a potential issue that needs attention.
    </p>
  </div>
</div>

<hr />
<div class="corn-message corn-message--error">
  <div class="corn-message--status">
    <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-hidden="true">
      <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#x-lg"></use>
    </svg>
  </div>
  <div class="corn-message--content">
    <h3 class="corn-message--title">Error Message</h3>
    <p>
      This is an error message. It indicates that an action failed or there is a critical issue.
    </p>
  </div>
</div>

<hr />

<div class="corn-message corn-message--info">
  <div class="corn-message--status">
    <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-hidden="true">
      <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#info-lg"></use>
    </svg>
  </div>
  <div class="corn-message--content">
    <h3 class="corn-message--title">Info Message</h3>
    <p>This is an info message. It provides additional information or context about a situation.</p>
  </div>
</div>

<h2>Header-Only Messages</h2>

<h2>Page-Level Messages</h2>
<div class="corn-message corn-message--success">
  <div class="corn-message--status">
    <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-hidden="true">
      <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#check-lg"></use>
    </svg>
  </div>
  <div class="corn-message--content">
    <p class="corn-message--title">This is an success message.</p>
  </div>
</div>

<hr />

<div class="corn-message corn-message--warning">
  <div class="corn-message--status">
    <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-hidden="true">
      <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#exclamation-triangle"></use>
    </svg>
  </div>
  <div class="corn-message--content">
    <p class="corn-message--title">This is a warning message.</p>
  </div>
</div>

<hr />
<div class="corn-message corn-message--error">
  <div class="corn-message--status">
    <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-hidden="true">
      <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#x-lg"></use>
    </svg>
  </div>
  <div class="corn-message--content">
    <p class="corn-message--title">This is an error message.</p>
  </div>
</div>

<hr />

<div class="corn-message corn-message--info">
  <div class="corn-message--status">
    <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-hidden="true">
      <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#info-lg"></use>
    </svg>
  </div>
  <div class="corn-message--content">
    <p class="corn-message--title">This is an info message.</p>
  </div>
</div>
