@import './header-tokens.css';

.corn-header {
  align-items: center;
  display: flex;
  gap: var(--cc-size-0);
  line-height: 1;
  padding: var(--cc-size-0) var(--cc-size-0) 0;

  .corn-link {
    line-height: 1;
  }
}

.corn-company {
  align-items: center;
  display: flex;
  flex-grow: 0;
  font-size: var(--cc-header--company--font--size);
  font-weight: var(--cc-header--company--font--weight);
  gap: var(--cc-size--5);
  line-height: 1;
}

.corn-company--name {
  white-space: nowrap;
}

.corn-company--logo {
  align-items: baseline;
  display: inline-flex;
}

.corn-header--nav {
  display: flex;
  gap: var(--cc-size--5);
  width: 100%;

  .corn-button {
    align-items: center;
    background: transparent;
    border-color: transparent;
    color: var(--cc-header--navlink--color);
    display: inline-flex;
    padding: 0 var(--cc-size--5);

    &:hover {
      background: var(--cc-header--navlink--background--hover);
      color: var(--cc-header--navlink--color--hover);
    }

    &:hover:focus-visible {
      border-color: transparent;
    }

    &:active {
      background: var(--cc-header--navlink--background--active);
    }
  }

  .corn-button-bar {
    flex-grow: 1;
    line-height: 1;
  }
}

.corn-header--title {
  font-size: var(--cc-header--title--font--size);
  font-weight: var(--cc-header--title--font--weight);
  line-height: 1;
  white-space: nowrap;
}

.corn-header--actions {
  align-items: center;
  display: flex;
  gap: var(--cc-size--5);
  justify-content: flex-end;
  line-height: 1;
}

.corn-company--logo img,
.corn-company--logo svg {
  height: var(--cc-size-3);
  width: var(--cc-size-3);
}
