:root,
:host {
  /* --cc-checkbox--input--background: var(--cc-form--item--background);
  --cc-checkbox--input--background--hover: var(--cc-form--item--background--hover);
  --cc-checkbox--input--background--checked: var(--cc-form--widget--background--selected);
  --cc-checkbox--input--background--checked--hover:
    var(
      --cc-form--widget--background--selected--hover
    );
  --cc-checkbox--input--border: var(--cc-form--item--border);
  --cc-checkbox--input--border-radius: var(--cc-border--radius);
  --cc-checkbox--input--color--checked: var(--cc-form--widget--color);
  --cc-checkbox--input--color--checked-hover: var(--cc-form--widget--color--hover); */

  --cc-select--background: var(--cc-form--item--background);
  --cc-select--background--hover: var(--cc-form--item--background--hover);
  --cc-select--border: var(--cc-border--width) var(--cc-border--style) var(--cc-border--color);
  --cc-select--border--color--focus: var(--cc-form--item--border--color--focus);
  --cc-select--border--color--active: var(--cc-form--item--border--color--active);
  --cc-select--border-radius: var(--cc-border--radius);
  --cc-select--border-radius--xs: var(--cc-border--radius--xs);
  --cc-select--color: var(--cc-form--item--color--text);
  --cc-select--font-size--xs: var(--cc-form--item--font-size--xs);
  --cc-select--font-size--sm: var(--cc-form--item--font-size--sm);
  --cc-select--font-size--md: var(--cc-form--item--font-size--md);
  --cc-select--font-size--lg: var(--cc-form--item--font-size--lg);
  --cc-select--font-size--xl: var(--cc-form--item--font-size--xl);
  --cc-select--height--xs: var(--cc-form--item--size--xs);
  --cc-select--height--sm: var(--cc-form--item--size--sm);
  --cc-select--height--md: var(--cc-form--item--size--md);
  --cc-select--height--lg: var(--cc-form--item--size--lg);
  --cc-select--height--xl: var(--cc-form--item--size--xl);
  --cc-select--padding: 0 var(--cc-size-0) var(--cc-spacing--1);
  --cc-select--padding--xs: 0 var(--cc-size-0);
  --cc-select--padding--sm: 0 var(--cc-size-0);
  --cc-select--label--color: var(--cc-blue-60);
  --cc-select--label--font-weight: 500;
  --cc-select--focus-ring: var(--cc-form--item--focus-ring);
  --cc-select--focus-ring--active: var(--cc-form--item--focus-ring--active);
  --cc-select--color--disabled: var(--cc-form--item--color--disabled);
  --cc-select--background--disabled: var(--cc-form--item--background--disabled);
  --cc-select--background--disabled--hover: var(--cc-form--item--background--disabled);
  --cc-select--border-color--disabled: var(--cc-form--item--border-color--disabled);
  --cc-select--focus-ring--disabled: none !important;
}
