fieldset.corn-radio-button-group {
  border: none;

  hr {
    margin: var(--cc-spacing-0);
  }

  legend {
    flex-basis: 100%;
    font-weight: 500;
    line-height: 1;
    padding-bottom: 1rem;
  }
}

.corn-radio-button {
  align-items: center;
  display: flex;
  height: var(--cc-form--item--size--md);
  position: relative;

  &:has(input:hover, label:hover) {
    input {
      background-color: var(--cc-form--item--color--background--hover);

      &:checked {
        background-color: var(--cc-form--item--color-background--selected--hover);
      }
    }
  }

  input {
    align-items: center;
    appearance: none;
    background-color: var(--cc-form--item--color--background);
    border: var(--cc-form--item--border);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    font-size: var(--cc-form--item--control--size);
    height: var(--cc-form--item--control--size);
    justify-content: center;
    left: 0;
    margin: 0;
    outline: none;
    position: relative;
    width: var(--cc-form--item--control--size);

    &:focus {
      box-shadow: var(--cc-form--item--focus-ring);

      &:checked {
        border-color: var(--cc-white);
      }
    }

    &:active {
      box-shadow: none;

      &:checked {
        border: var(--cc-form--item--border);
      }
    }

    &::after {
      border-color: var(--cc-form--item--input--label--color);
      border-radius: 50%;
      border-style: solid;
      border-width: 0.25em;
      content: '';
      display: block;
      height: 0.5em;
      opacity: 0;
      scale: 0.65;
      transform: rotate(45deg);
      transition:
        opacity var(--cc-transition--time--fast) var(--cc-transition--easing),
        scale var(--cc-transition--time--fast) var(--cc-transition--easing),
        box-shadow var(--cc-transition--time--fast) var(--cc-transition--easing);
      width: 0.5em;
    }

    &:checked {
      background: var(--cc-form--item--color-background--selected);

      &::after {
        opacity: 1;
        scale: 1;
      }
    }
  }

  label {
    cursor: pointer;
    line-height: 2rem;
    padding-left: 0.5rem;
  }
}

.corn-radio-button--xs {
  height: var(--cc-form--item--size--xs);

  input {
    font-size: var(--cc-form--item--control--size--xs);
    height: var(--cc-form--item--control--size--xs);
    width: var(--cc-form--item--control--size--xs);
  }

  label {
    font-size: var(--cc-form--item--font--size--xs);
  }
}

.corn-radio-button--sm {
  height: var(--cc-form--item--size--sm);

  label {
    font-size: var(--cc-form--item--font--size--sm);
  }
}

.corn-radio-button--md {
  height: var(--cc-form--item--size--md);

  label {
    font-size: var(--cc-form--item--font--size--md);
  }
}

.corn-radio-button--lg {
  height: var(--cc-form--item--size--lg);

  label {
    font-size: var(--cc-form--item--font--size--lg);
  }
}

.corn-radio-button--xl {
  height: var(--cc-form--item--size--xl);

  label {
    font-size: var(--cc-form--item--font--size--xl);
  }
}

fieldset.corn-radio-button-group--inline {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
  padding: 0;

  .spark-input--message {
    margin-top: -1rem;
  }

  .corn-radio-button {
    flex: 1 1 0%;
    margin-bottom: 0;
    white-space: nowrap;
  }
}
