@import './radio-button-tokens.css';

fieldset.corn-radio-button-group {
  border: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;

  hr {
    margin: 1rem 0;
  }

  legend {
    flex-basis: 100%;
    font-weight: 500;
    line-height: 1;
    padding-bottom: 1rem;
  }
}

.corn-radio-button {
  align-items: center;
  display: flex;
  height: var(--cc-radio-button--input--size--md);
  position: relative;

  &:has(input:hover, label:hover) {
    input {
      background: var(--cc-radio-button--input--background--hover);

      &:checked {
        background: var(--cc-radio-button--input--background--checked--hover);
      }
    }
  }

  input {
    align-items: center;
    appearance: none;
    background: var(--cc-radio-button--input--background);
    border: var(--cc-radio-button--input--border);
    border-radius: var(--cc-radio-button--input--border-radius);
    cursor: pointer;
    display: flex;
    font-size: var(--cc-radio-button--input--font-size--md);
    height: var(--cc-radio-button--input--size--md);
    justify-content: center;
    left: 0;
    margin: 0;
    outline: none;
    position: relative;
    width: var(--cc-radio-button--input--size--md);

    &:focus {
      box-shadow: var(--cc-radio-button--input--focus-ring);

      &:checked {
        border-color: var(--cc-white);
      }
    }

    &:active {
      box-shadow: none;

      &:checked {
        border: var(--cc-radio-button--input--border);
      }
    }

    &::after {
      background: var(--cc-radio-button--input--color--checked);
      border-radius: var(--cc-radio-button--input--border-radius);
      content: '';
      font-size: inherit;
      height: 0.5em;
      opacity: 0;
      scale: 0.65;
      transition:
        opacity var(--cc-transition--time--fast) var(--cc-transition--easing),
        scale var(--cc-transition--time--fast) var(--cc-transition--easing),
        box-shadow var(--cc-transition--time--fast) var(--cc-transition--easing);
      width: 0.5em;
    }

    &:checked {
      background: var(--cc-radio-button--input--background--checked);

      &::after {
        opacity: 1;
        scale: 1.05;
      }
    }
  }

  label {
    cursor: pointer;
    font-size: var(--cc-radio-button--input--font-size--md);
    line-height: 2rem;
    padding-left: 0.5rem;
  }
}

.corn-radio-button--xs {
  height: var(--cc-radio-button--input--size--xs);

  input {
    height: var(--cc-radio-button--input--size--xs);
    width: var(--cc-radio-button--input--size--xs);

    &:checked {
      &::after {
        scale: 0.75;
      }
    }
  }

  label {
    font-size: var(--cc-radio-button--input--font-size--xs);
  }
}

.corn-radio-button--sm {
  height: var(--cc-radio-button--input--size--sm);

  input {
    height: var(--cc-radio-button--input--size--sm);
    width: var(--cc-radio-button--input--size--sm);

    &:checked {
      &::after {
        scale: 0.75;
      }
    }
  }

  label {
    font-size: var(--cc-radio-button--input--font-size--sm);
  }
}

.corn-radio-button--md {
  height: var(--cc-radio-button--input--size--md);

  input {
    height: var(--cc-radio-button--input--size--md);
    width: var(--cc-radio-button--input--size--md);
  }

  label {
    font-size: var(--cc-radio-button--input--font-size--md);
  }
}

.corn-radio-button--lg {
  height: var(--cc-radio-button--input--size--lg);

  input {
    height: var(--cc-radio-button--input--size--lg);
    width: var(--cc-radio-button--input--size--lg);
  }

  label {
    font-size: var(--cc-radio-button--input--font-size--lg);
  }
}

.corn-radio-button--xl {
  height: var(--cc-radio-button--input--size--xl);

  input {
    height: var(--cc-radio-button--input--size--xl);
    width: var(--cc-radio-button--input--size--xl);

    &:checked {
      &::after {
        scale: 1.25;
      }
    }
  }

  label {
    font-size: var(--cc-radio-button--input--font-size--xl);
  }
}

fieldset.corn-radio-button-group--inline {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
  list-style: none;
  padding: 0;

  .corn-radio-button {
    flex: 1 1 0%;
    margin-bottom: 0;
    white-space: nowrap;
  }

  .corn-status {
    display: flex;
    grid-column: 1 / -1;
    width: 100%;
  }
}
