<!-- Button Component Demo -->

<div class="radio button-demo">
  <h2>Radio buttons</h2>
  <section id="radio buttons">
    <fieldset class="corn-form--item corn-radio-button-group">
      <legend>Group Label</legend>
      <div class="corn-radio-button corn-radio-button--xs">
        <input type="radio" id="example1" name="example" />
        <label for="example1">Radio button One xs</label>
      </div>
      <div class="corn-radio-button corn-radio-button--sm">
        <input type="radio" id="example2" name="example" />
        <label for="example2">Radio button Two sm</label>
      </div>
      <div class="corn-radio-button corn-radio-button--md">
        <input type="radio" id="example3" name="example" />
        <label for="example3">Radio button Default md </label>
      </div>
      <div class="corn-radio-button corn-radio-button--lg">
        <input type="radio" id="example4" name="example" />
        <label for="example4">Radio button 4 lg</label>
      </div>
      <div class="corn-radio-button corn-radio-button--xl">
        <input type="radio" id="example5" checked name="example" />
        <label for="example5">Radio button 5 xl</label>
      </div>
      <div class="corn-radio-button">
        <input type="radio" id="example6" name="example" />
        <label for="example6">Radio button Six...</label>
      </div>
    </fieldset>
  </section>

  <hr />

  <section id="radio-buttons-inline">
    <h2>Radio buttons Inline</h2>
    <fieldset class="corn-form--item corn-radio-button-group corn-radio-button-group--inline">
      <legend>Group Label</legend>
      <div class="corn-radio-button">
        <input type="radio" id="example1-inline" name="example-inline" />
        <label for="example1-inline">Radio button One...</label>
      </div>
      <div class="corn-radio-button">
        <input type="radio" id="example2-inline" name="example-inline" />
        <label for="example2-inline">Radio button Two...</label>
      </div>
      <div class="corn-radio-button">
        <input type="radio" id="example3-inline" name="example-inline" />
        <label for="example3-inline">Radio button Three...</label>
      </div>
      <div class="corn-radio-button">
        <input type="radio" id="example4-inline" name="example-inline" />
        <label for="example4-inline">Radio button Four...</label>
      </div>
      <div class="corn-radio-button">
        <input type="radio" id="example5-inline" checked name="example-inline" />
        <label for="example5-inline">Radio button Five...</label>
      </div>
      <div class="corn-radio-button">
        <input type="radio" id="example6-inline" name="example-inline" />
        <label for="example6-inline">Radio button Six...</label>
      </div>
    </fieldset>
  </section>
</div>
