@import url('panel-tokens.css');

.corn-panel {
  border-color: var(--cc-panel--border--color);
  border-radius: var(--cc-panel--border--radius);
  border-style: var(--cc-panel--border--style);
  border-width: var(--cc-panel--border--width);
  box-shadow: var(--cc-panel--shadow);
  padding: var(--cc-panel--padding);

  .corn-panel {
    border-style: var(--cc-panel--border--style);
    box-shadow: none;
  }
}
