<!-- Button Component Demo -->

<div class="text-input-demo">
  <h2>Text Inputs</h2>

  <h3>Extra Small (xs)</h3>
  <div class="corn-form--row">
    <div class="corn-form--item">
      <div class="corn-text-input corn-text-input--xs">
        <input id="input--xs" name="input" placeholder="Enter Full Name..." />
        <label for="input--xs" class="corn-assistive-text">What is your name?</label>
      </div>
      <div class="corn-status">Helper Text</div>
    </div>
  </div>
  <hr />
  <h3>Small (sm)</h3>
  <div class="corn-form--row">
    <div class="corn-form--item">
      <div class="corn-text-input corn-text-input--sm">
        <input id="input--sm" name="input" placeholder="Enter Full Name..." />
        <label for="input--sm" class="corn-assistive-text">What is your name?</label>
      </div>
      <div class="corn-status">Helper Text</div>
    </div>
  </div>
  <hr />
  <h3>Default Medium (md)</h3>
  <div class="corn-form--row">
    <div class="corn-form--item">
      <div class="corn-text-input">
        <input id="input--md" name="input" placeholder="Enter Full Name..." />
        <label for="input--md">What is your name?</label>
      </div>
      <div class="corn-status">Helper Text</div>
    </div>
  </div>
  <hr />
  <h3>Large (lg)</h3>
  <div class="corn-form--row">
    <div class="corn-form--item">
      <div class="corn-text-input corn-text-input--lg">
        <input id="input--lg" name="input" placeholder="Enter Full Name..." />
        <label for="input--lg">What is your name?</label>
      </div>
      <div class="corn-status">Helper Text</div>
    </div>
  </div>
  <hr />
  <h3>Extra Large (xl)</h3>
  <div class="corn-form--row">
    <div class="corn-form--item">
      <div class="corn-text-input corn-text-input--xl">
        <input id="input--xl" name="input" placeholder="Enter Full Name..." />
        <label for="input--xl">What is your name?</label>
      </div>
      <div class="corn-status">Helper Text</div>
    </div>
  </div>
</div>
