@import './text-input-tokens.css';

.corn-text-input,
.corn-text-input--md {
  align-items: center;
  background-color: var(--cc-text-input--background);
  border: var(--cc-text-input--border);
  border-radius: var(--cc-text-input--border-radius);
  color: var(--cc-text-input--color);
  cursor: pointer;
  display: inline-flex;
  font-size: var(--cc-text-input--font-size--md);
  height: var(--cc-text-input--height--md);
  justify-content: center;
  line-height: 1;
  outline: none;
  position: relative;
  transition:
    box-shadow var(--cc-transition--time) var(--cc-transition--easing),
    border-color var(--cc-transition--time) var(--cc-transition--easing),
    background-color var(--cc-transition--time) var(--cc-transition--easing);

  label {
    color: var(--cc-text-input--label--color);
    font-weight: var(--cc-text-input--label--font-weight);
    left: var(--cc-size-0);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition:
      font-size var(--cc-transition--time) var(--cc-transition--easing),
      top var(--cc-transition--time) var(--cc-transition--easing),
      transform var(--cc-transition--time) var(--cc-transition--easing);
  }

  input {
    align-self: flex-end;
    background-color: transparent;
    border: none;
    color: var(--cc-text-input--color);
    display: flex;
    flex-grow: 1;
    margin-bottom: var(--cc-spacing--1);
    outline: none;
    padding: var(--cc-text-input--padding);

    &::placeholder {
      opacity: 0;
      transition: opacity var(--cc-transition--time) var(--cc-transition--easing);
    }
  }

  &:hover {
    background-color: var(--cc-text-input--background--hover);
    cursor: pointer;

    label,
    input {
      cursor: pointer;
    }
  }

  &:has(input:focus) {
    border-color: var(--cc-text-input--border--color--focus);
    box-shadow: var(--cc-text-input--focus-ring);
  }

  &:has(input:focus),
  &:has(input:not(:placeholder-shown)) {
    background-color: var(--cc-text-input--background--hover);

    input::placeholder {
      opacity: 1;
    }

    label {
      font-size: var(--cc-size--1);
      top: var(--cc-spacing--2);
      transform: translateY(0);
    }
  }

  &:active:focus {
    border-color: var(--cc-border--color);
    box-shadow: none;
  }

  &:has(input[disabled]) {
    &:hover {
      background-color: var(--cc-text-input--background--disabled--hover);
    }

    background-color: var(--cc-text-input--background--disabled);
    border-color: var(--cc-text-input--border-color--disabled);
    box-shadow: none !important;
    color: var(--cc-text-input--color--disabled);
    cursor: not-allowed !important;

    input {
      color: var(--cc-text-input--color--disabled);
      cursor: not-allowed !important;
    }

    label {
      color: var(--cc-text-input--color--disabled);
      cursor: not-allowed !important;
    }
  }

  .corn-icon {
    color: currentcolor;
    fill: currentcolor;
    height: var(--cc-size-2);
    width: var(--cc-size-2);
  }
}

.corn-text-input--xs {
  border-radius: var(--cc-border--radius--xs);
  font-size: var(--cc-text-input--font-size--xs);
  height: var(--cc-text-input--height--xs);

  input {
    align-self: center;
    margin-bottom: 0;

    &::placeholder {
      opacity: 1;
    }
  }
}

.corn-text-input--sm {
  font-size: var(--cc-text-input--font-size--sm);
  height: var(--cc-text-input--height--sm);
  line-height: 1;

  input {
    align-self: center;
    margin-bottom: 0;

    &::placeholder {
      opacity: 1;
    }
  }
}

.corn-text-input--lg {
  font-size: var(--cc-text-input--font-size--lg);
  height: var(--cc-text-input--height--lg);

  &:has(input:not(:placeholder-shown)),
  &:has(input:focus) {
    label {
      font-size: var(--cc-size-0);
    }
  }
}

.corn-text-input--xl {
  font-size: var(--cc-size-3);
  height: var(--cc-size-7);

  &:has(input:not(:placeholder-shown)),
  &:has(input:focus) {
    label {
      font-size: var(--cc-size-1);
    }
  }
}

.corn-status--warning {
  .corn-text-input {
    border-color: var(--cc-status--warning--border-color);
    box-shadow: var(--cc-status--warning--box-shadow);
    color: var(--cc-status--warning--color);

    &:hover {
      background-color: rgb(from var(--cc-status--warning--background) r g b / 87.2%);
    }

    label {
      color: var(--cc-status--warning--color);
    }
  }

  .corn-status {
    .corn-icon {
      border: 1px solid var(--cc-status--warning--color);
      border-radius: 50%;
    }
  }
}

.corn-status--error {
  .corn-text-input {
    border-color: var(--cc-status--error--border-color);
    box-shadow: var(--cc-status--error--box-shadow);
    color: var(--cc-status--error--color);

    &:hover {
      background-color: rgb(from var(--cc-status--error--background) r g b / 87.2%);
    }

    label {
      color: var(--cc-status--error--color);
    }
  }

  .corn-status {
    .corn-icon {
      border: 1px solid var(--cc-status--error--color);
      border-radius: 50%;
    }
  }
}

.corn-status--success {
  .corn-text-input {
    border-color: var(--cc-status--success--border-color);
    box-shadow: var(--cc-status--success--box-shadow);
    color: var(--cc-status--success--color);

    &:hover {
      background-color: rgb(from var(--cc-status--success--background) r g b / 87.2%);
    }

    label {
      color: var(--cc-status--success--color);
    }
  }

  .corn-status {
    .corn-icon {
      border: 1px solid var(--cc-status--success--color);
      border-radius: 50%;
    }
  }
}
