:root {
  --cc--button--height--md: var(--cc-size-5);
  --cc--button--font-size--md: var(--cc-size-2);
  --cc--button--padding-x--md: var(--cc-size-0);
  --cc--button--corn-icon--size--md: var(--cc-size-2);
  --cc--button--background--hover: var(--cc-gray-90);
  --cc--button--background--active: var(--cc-black);
  --cc--button--border-color--active: var(--cc-gray-100);
  --cc--button--color--disabled: var(--cc-gray-80);
  --cc--button--box-shadow--focus: 0 0 0 2px var(--cc-blue-60);
  --cc--button--box-shadow--active-focus: none;
  --cc--button--background--disabled: rgb(from var(--cc-gray-80) r g b / 5.4%);
  --cc--button--border-color--disabled: rgb(from var(--cc-gray-80) r g b / 40.2%);
  --cc--button--background: var(--cc-gray-100);
  --cc--button--color: var(--cc-white);
  --cc--button--border-width: var(--cc-border--width);
  --cc--button--border-style: var(--cc-border--style);
  --cc--button--border-color: var(--cc-border--color);
  --cc--button--border-radius: var(--cc-border--radius);
}

.corn-button,
.corn-button--md {
  align-items: center;
  background-color: var(--cc-button--background);
  border: var(--cc-button--border-width) var(--cc-button--border-style)
    var(--cc-button--border-color);
  border-radius: var(--cc-button--border-radius);
  color: var(--cc-button--color);
  cursor: pointer;
  display: inline-flex;
  font-size: var(--cc-button--font-size--md);
  height: var(--cc-button--height--md);
  justify-content: center;
  line-height: 1;
  outline: none;
  padding: 0 var(--cc-button--padding-x--md);
  white-space: nowrap;

  &:hover {
    background-color: var(--cc-button--background--hover);
  }

  &:active {
    background-color: var(--cc-button--background--active);
  }

  &:focus {
    border-color: var(--cc-white);
    box-shadow: var(--cc-button--box-shadow--focus);
  }

  &:active:focus {
    border-color: var(--cc-border--color);
    box-shadow: var(--cc-button--box-shadow--active-focus);
  }

  &[disabled] {
    background-color: var(--cc-button--background--disabled);
    border-color: var(--cc-button--border-color--disabled);
    color: var(--cc-button--color--disabled);
    cursor: not-allowed;
  }

  .corn-icon {
    fill: currentcolor;
    height: var(--cc-button--corn-icon--size--md);
    width: var(--cc-button--corn-icon--size--md);
  }

  &.corn-button--icon {
    border-radius: var(--cc-border--radius-round);
    padding: 0;
    width: var(--cc-size-5);
  }
}

.corn-button--xs {
  border-radius: var(--cc-border--radius--xs);
  font-size: var(--cc-size--1);
  height: var(--cc-size-2);

  &.corn-button--icon {
    width: var(--cc-size-2);

    svg {
      fill: currentcolor;
      height: var(--cc-size-1);
      width: var(--cc-size-1);
    }
  }
}

.corn-button--sm {
  font-size: var(--cc-size-0);
  height: var(--cc-size-4);
  line-height: 1;
  padding: 0 var(--cc-size-0);

  &.corn-button--icon {
    width: var(--cc-size-4);

    svg {
      fill: currentcolor;
      height: var(--cc-size-1);
      width: var(--cc-size-1);
    }
  }
}

.corn-button--lg {
  font-size: var(--cc-size-3);
  height: var(--cc-size-6);

  &.corn-button--icon {
    width: var(--cc-size-6);

    svg {
      fill: currentcolor;
      height: var(--cc-size-3);
      width: var(--cc-size-3);
    }
  }
}

.corn-button--xl {
  font-size: var(--cc-size-3);
  height: var(--cc-size-7);

  &.corn-button--icon {
    width: var(--cc-size-7);

    svg {
      fill: currentcolor;
      height: var(--cc-size-3);
      width: var(--cc-size-3);
    }
  }
}

.corn-button--secondary {
  background-color: rgb(from var(--cc-gray-20) r g b / 40.2%);
  color: var(--cc-gray-90);

  &:hover {
    background-color: rgb(from var(--cc-gray-80) r g b / 15.8%);
    color: var(--cc-gray-100);
  }

  &:active {
    background-color: rgb(from var(--cc-gray-80) r g b / 20.8%);
  }
}

.corn-button--danger {
  background-color: var(--cc-red-80);
  border-color: var(--cc-red-100);
  color: var(--cc-red-10);

  &:hover {
    background-color: var(--cc-red-90);
    color: var(--cc-red-20);
  }

  &:active {
    background-color: var(--cc-red-100);
    color: var(--cc-red-10);
  }

  &:active:focus {
    border-color: var(--cc-red-100);
    box-shadow: none;
  }

  svg {
    fill: currentcolor;
  }
}

.corn-button--icon {
  border-radius: var(--cc-border--radius-round);
}
