@import './button-tokens.css';

.corn-button,
.corn-button--md {
  align-items: center;
  background-color: var(--cc-button--background);
  border: var(--cc-button--border-width) var(--cc-button--border-style)
    var(--cc-button--border-color);
  border-radius: var(--cc-button--border-radius);
  color: var(--cc-button--color);
  cursor: pointer;
  display: inline-flex;
  font-size: var(--cc-button--font-size--md);
  height: var(--cc-button--height--md);
  justify-content: center;
  line-height: 1;
  outline: none;
  padding: var(--cc-button--padding--md);
  transition: background-color var(--cc-button--transition--duration) var(--cc-button--transition--easing),
              color var(--cc-button--transition--duration) var(--cc-button--transition--easing),
              border-color var(--cc-button--transition--duration) var(--cc-button--transition--easing),
              box-shadow var(--cc-button--transition--duration) var(--cc-button--transition--easing);
  white-space: nowrap;

  &:hover {
    background-color: var(--cc-button--background--hover);
  }

  &:active {
    background-color: var(--cc-button--background--active);
  }

  &:focus-visible {
    border-color: var(--cc-white);
    box-shadow: var(--cc-button--box-shadow--focus);
  }

  &:active:focus-visible {
    border-color: var(--cc-border--color);
    box-shadow: var(--cc-button--box-shadow--active-focus);
  }

  &[disabled] {
    background-color: var(--cc-button--background--disabled);
    border-color: var(--cc-button--border-color--disabled);
    color: var(--cc-button--color--disabled);
    cursor: not-allowed;
  }

  &.corn-button--icon {
    border-radius: var(--cc-button--border-radius--round);
    height: var(--cc-button--icon--size--md);
    padding: 0;
    width: var(--cc-button--icon--size--md);

    .corn-icon {
      fill: currentcolor;
      height: var(--cc-button--icon--glyph-size--md);
      width: var(--cc-button--icon--glyph-size--md);
    }
  }
}

.corn-button--xs {
  border-radius: var(--cc-button--border-radius--xs);
  font-size: var(--cc-button--font-size--xs);
  height: var(--cc-button--height--xs);

  &.corn-button--icon {
    height: var(--cc-button--icon--size--xs);
    width: var(--cc-button--icon--size--xs);

    .corn-icon {
      fill: currentcolor;
      height: var(--cc-button--icon--glyph-size--xs);
      width: var(--cc-button--icon--glyph-size--xs);
    }
  }
}

.corn-button--sm {
  font-size: var(--cc-button--font-size--sm);
  height: var(--cc-button--height--sm);
  line-height: 1;

  &.corn-button--icon {
    height: var(--cc-button--icon--size--sm);
    width: var(--cc-button--icon--size--sm);

    .corn-icon {
      fill: currentcolor;
      height: var(--cc-button--icon--glyph-size--sm);
      width: var(--cc-button--icon--glyph-size--sm);
    }
  }
}

.corn-button--lg {
  font-size: var(--cc-button--font-size--lg);
  height: var(--cc-button--height--lg);

  &.corn-button--icon {
    height: var(--cc-button--icon--size--lg);
    width: var(--cc-button--icon--size--lg);

    .corn-icon {
      fill: currentcolor;
      height: var(--cc-button--icon--glyph-size--lg);
      width: var(--cc-button--icon--glyph-size--lg);
    }
  }
}

.corn-button--xl {
  font-size: var(--cc-button--font-size--xl);
  height: var(--cc-button--height--xl);

  &.corn-button--icon {
    height: var(--cc-button--icon--size--xl);
    width: var(--cc-button--icon--size--xl);

    .corn-icon {
      fill: currentcolor;
      height: var(--cc-button--icon--glyph-size--xl);
      width: var(--cc-button--icon--glyph-size--xl);
    }
  }
}

.corn-button--secondary {
  background-color: var(--cc-button--secondary--background);
  color: var(--cc-button--secondary--color);

  &:hover {
    background-color: var(--cc-button--secondary--background--hover);
    color: var(--cc-button--secondary--color--hover);
  }

  &:active {
    background-color: var(--cc-button--secondary--background--active);
    color: var(--cc-button--secondary--color--active);
  }
}

.corn-button--danger {
  background-color: var(--cc-button--danger--background);
  border-color: var(--cc-button--danger--border-color);
  color: var(--cc-button--danger--color);

  &:hover {
    background-color: var(--cc-button--danger--background--hover);
    color: var(--cc-button--danger--color--hover);
  }

  &:active {
    background-color: var(--cc-button--danger--background--active);
    color: var(--cc-button--danger--color--active);
  }

  &:active:focus {
    border-color: var(--cc-button--danger--border-color--active);
    box-shadow: none;
  }

  svg {
    fill: currentcolor;
  }
}

.corn-button--icon {
  border-radius: var(--cc-button--border-radius--round);
}

.corn-copy-button {
  .corn-button {
    &.corn-copied {
      background-color: var(--cc-green-40);
      color: var(--cc-green-100);
    }
  }  
}
