<!-- Button Component Demo -->
<div class="button-demo">
  <h2>Buttons</h2>

  <h3>Extra Small (xs)</h3>
  <div class="corn-form--row">
    <button class="corn-button corn-button--xs">XS Button</button>
    <button class="corn-button corn-button--xs corn-button--secondary">XS Secondary</button>
    <button class="corn-button corn-button--xs corn-button--danger">XS Danger</button>
    <button class="corn-button corn-button--xs corn-button" disabled>XS Disabled</button>
  </div>
  <hr />
  <h3>Small (sm)</h3>
  <div class="corn-form--row">
    <button class="corn-button corn-button--sm">SM Button</button>
    <button class="corn-button corn-button--sm corn-button--secondary">SM Secondary</button>
    <button class="corn-button corn-button--sm corn-button--danger">SM Danger</button>
    <button class="corn-button corn-button--sm corn-button" disabled>SM Disabled</button>
  </div>
  <hr />
  <h3>Default Medium (md)</h3>
  <div class="corn-form--row">
    <button class="corn-button corn-button--md">MD Button</button>
    <button class="corn-button corn-button--md corn-button--secondary">MD Secondary</button>
    <button class="corn-button corn-button--md corn-button--danger">MD Danger</button>
    <button class="corn-button corn-button--md corn-button" disabled>MD Disabled</button>
  </div>
  <hr />
  <h3>Large (lg)</h3>
  <div class="corn-form--row">
    <button class="corn-button corn-button--lg">LG Button</button>
    <button class="corn-button corn-button--lg corn-button--secondary">LG Secondary</button>
    <button class="corn-button corn-button--lg corn-button--danger">LG Danger</button>
    <button class="corn-button corn-button--lg corn-button" disabled>LG Disabled</button>
  </div>
  <hr />
  <h3>Extra Large (xl)</h3>
  <div class="corn-form--row">
    <button class="corn-button corn-button--xl">XL Button</button>
    <button class="corn-button corn-button--xl corn-button--secondary">XL Secondary</button>
    <button class="corn-button corn-button--xl corn-button--danger">XL Danger</button>
    <button class="corn-button corn-button--xl corn-button" disabled>XL Disabled</button>
  </div>

  <hr />
  <h3>Icon Only (xs)</h3>
  <div class="corn-form--row">
    <button class="corn-button corn-button--icon corn-button--xs" aria-label="Close">
      <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="corn-icon">
        <use href="/node_modules/@carbon/icons/svg/32/close.svg"></use>
      </svg>
    </button>
    <button
      class="corn-button corn-button--icon corn-button--secondary corn-button--xs"
      aria-label="Close"
    >
      <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="corn-icon">
        <use href="/node_modules/@carbon/icons/svg/32/close.svg"></use>
      </svg>
    </button>
    <button
      class="corn-button corn-button--icon corn-button--danger corn-button--xs"
      aria-label="Close"
    >
      <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="corn-icon">
        <use href="/node_modules/@carbon/icons/svg/32/close.svg"></use>
      </svg>
    </button>
    <button class="corn-button corn-button--icon corn-button--xs" aria-label="Close" disabled>
      <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="corn-icon">
        <use href="/node_modules/@carbon/icons/svg/32/close.svg"></use>
      </svg>
    </button>
  </div>
  <hr />
  <h3>Icon Only (sm)</h3>
  <div class="corn-form--row">
    <button class="corn-button corn-button--icon corn-button--sm" aria-label="Close">
      <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="corn-icon">
        <use href="/node_modules/@carbon/icons/svg/32/close.svg"></use>
      </svg>
    </button>
    <button
      class="corn-button corn-button--icon corn-button--secondary corn-button--sm"
      aria-label="Close"
    >
      <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="corn-icon">
        <use href="/node_modules/@carbon/icons/svg/32/close.svg"></use>
      </svg>
    </button>
    <button
      class="corn-button corn-button--icon corn-button--danger corn-button--sm"
      aria-label="Close"
    >
      <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="corn-icon">
        <use href="/node_modules/@carbon/icons/svg/32/close.svg"></use>
      </svg>
    </button>
    <button class="corn-button corn-button--icon corn-button--sm" aria-label="Close" disabled>
      <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="corn-icon">
        <use href="/node_modules/@carbon/icons/svg/32/close.svg"></use>
      </svg>
    </button>
  </div>
  <hr />
  <h3>Icon Only (md)</h3>
  <div class="corn-form--row">
    <button class="corn-button corn-button--icon" aria-label="Close">
      <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="corn-icon">
        <use href="/node_modules/@carbon/icons/svg/32/close.svg"></use>
      </svg>
    </button>
    <button class="corn-button corn-button--icon corn-button--secondary" aria-label="Close">
      <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="corn-icon">
        <use href="/node_modules/@carbon/icons/svg/32/close.svg"></use>
      </svg>
    </button>
    <button class="corn-button corn-button--icon corn-button--danger" aria-label="Close">
      <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="corn-icon">
        <use href="/node_modules/@carbon/icons/svg/32/close.svg"></use>
      </svg>
    </button>
    <button class="corn-button corn-button--icon" aria-label="Close" disabled>
      <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="corn-icon">
        <use href="/node_modules/@carbon/icons/svg/32/close.svg"></use>
      </svg>
    </button>
  </div>
  <hr />
  <h3>Icon Only (lg)</h3>
  <div class="corn-form--row">
    <button class="corn-button corn-button--icon corn-button--lg" aria-label="Close">
      <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="corn-icon">
        <use href="/node_modules/@carbon/icons/svg/32/close.svg"></use>
      </svg>
    </button>
    <button
      class="corn-button corn-button--icon corn-button--secondary corn-button--lg"
      aria-label="Close"
    >
      <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="corn-icon">
        <use href="/node_modules/@carbon/icons/svg/32/close.svg"></use>
      </svg>
    </button>
    <button
      class="corn-button corn-button--icon corn-button--danger corn-button--lg"
      aria-label="Close"
    >
      <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="corn-icon">
        <use href="/node_modules/@carbon/icons/svg/32/close.svg"></use>
      </svg>
    </button>
    <button class="corn-button corn-button--icon corn-button--lg" aria-label="Close" disabled>
      <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="corn-icon">
        <use href="/node_modules/@carbon/icons/svg/32/close.svg"></use>
      </svg>
    </button>
  </div>
  <hr />
  <h3>Icon Only (xl)</h3>
  <div class="corn-form--row">
    <button class="corn-button corn-button--icon corn-button--xl" aria-label="Close">
      <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="corn-icon">
        <use href="/node_modules/@carbon/icons/svg/32/close.svg"></use>
      </svg>
    </button>
    <button
      class="corn-button corn-button--icon corn-button--secondary corn-button--xl"
      aria-label="Close"
    >
      <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="corn-icon">
        <use href="/node_modules/@carbon/icons/svg/32/close.svg"></use>
      </svg>
    </button>
    <button
      class="corn-button corn-button--icon corn-button--danger corn-button--xl"
      aria-label="Close"
    >
      <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="corn-icon">
        <use href="/node_modules/@carbon/icons/svg/32/close.svg"></use>
      </svg>
    </button>
    <button class="corn-button corn-button--icon corn-button--xl" aria-label="Close" disabled>
      <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="corn-icon">
        <use href="/node_modules/@carbon/icons/svg/32/close.svg"></use>
      </svg>
    </button>
  </div>
  <hr />
  <h3>Copy Button</h3>
  <div class="corn-copy-button--anchor">
    <div id="copy-button-1">Text to Copy</div>
    <corn-copy-button
      class="corn-copy-button"
      copyselector="#copy-button-1"
      copysuccess="Text copied to clipboard"
      copyfailure="Failed to copy"
    >
      <button
        class="corn-button corn-button--xs"
        aria-controls="copy-button-1"
        aria-label="Copy text to clipboard"
      >
        copy
      </button>
      <div
        role="status"
        aria-live="polite"
        class="corn-copy-button--message corn-assistive-text"
      ></div>
    </corn-copy-button>
  </div>
</div>
