<h2>Badges</h2>

<div class="corn-badge">
  <div class="corn-badge--status">
    <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-hidden="true">
      <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#dash-lg"></use>
    </svg>
  </div>
  <div class="corn-badge--content">neutral</div>
</div>

<div class="corn-badge corn-badge--success">
  <div class="corn-badge--status">
    <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-hidden="true">
      <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#check-lg"></use>
    </svg>
  </div>
  <div class="corn-badge--content">success</div>
</div>

<div class="corn-badge corn-badge--warning">
  <div class="corn-badge--status">
    <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-hidden="true">
      <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#exclamation-lg"></use>
    </svg>
  </div>
  <div class="corn-badge--content">warning</div>
</div>

<div class="corn-badge corn-badge--error">
  <div class="corn-badge--status">
    <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-hidden="true">
      <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#x"></use>
    </svg>
  </div>
  <div class="corn-badge--content">error</div>
</div>

<div class="corn-badge corn-badge--info">
  <div class="corn-badge--status">
    <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-hidden="true">
      <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#info-lg"></use>
    </svg>
  </div>
  <div class="corn-badge--content">info</div>
</div>

<h2>Small Badges</h2>

<div class="corn-badge corn-badge--sm">
  <div class="corn-badge--status">
    <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-hidden="true">
      <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#dash-lg"></use>
    </svg>
  </div>
  <div class="corn-badge--content">neutral</div>
</div>

<div class="corn-badge corn-badge--success corn-badge--sm">
  <div class="corn-badge--status">
    <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-hidden="true">
      <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#check-lg"></use>
    </svg>
  </div>
  <div class="corn-badge--content">success</div>
</div>

<div class="corn-badge corn-badge--warning corn-badge--sm">
  <div class="corn-badge--status">
    <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-hidden="true">
      <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#exclamation-lg"></use>
    </svg>
  </div>
  <div class="corn-badge--content">warning</div>
</div>

<div class="corn-badge corn-badge--error corn-badge--sm">
  <div class="corn-badge--status">
    <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-hidden="true">
      <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#x"></use>
    </svg>
  </div>
  <div class="corn-badge--content">error</div>
</div>

<div class="corn-badge corn-badge--info corn-badge--sm">
  <div class="corn-badge--status">
    <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-hidden="true">
      <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#info-lg"></use>
    </svg>
  </div>
  <div class="corn-badge--content">info</div>
</div>
