<div class="badges-stickersheet">
  <h2>Badges</h2>

  <div class="corn-badge">
    <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-hidden="true">
      <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#dash-lg"></use>
    </svg>
    Neutral
  </div>

  <div class="corn-badge corn-badge--success">
    <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-hidden="true">
      <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#check-lg"></use>
    </svg>
    Success
  </div>

  <div class="corn-badge corn-badge--warning">
    <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-hidden="true">
      <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#exclamation-lg"></use>
    </svg>
    Warning
  </div>

  <div class="corn-badge corn-badge--error">
    <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-hidden="true">
      <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#x"></use>
    </svg>
    Error
  </div>

  <div class="corn-badge corn-badge--info">
    <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-hidden="true">
      <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#info-lg"></use>
    </svg>
    Info
  </div>

  <h2>Small Badges</h2>

  <div class="corn-badge corn-badge--sm">
    <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-hidden="true">
      <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#dash-lg"></use>
    </svg>
    Neutral
  </div>

  <div class="corn-badge corn-badge--success corn-badge--sm">
    <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-hidden="true">
      <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#check-lg"></use>
    </svg>
    Success
  </div>

  <div class="corn-badge corn-badge--warning corn-badge--sm">
    <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-hidden="true">
      <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#exclamation-lg"></use>
    </svg>
    Warning
  </div>

  <div class="corn-badge corn-badge--error corn-badge--sm">
    <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-hidden="true">
      <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#x"></use>
    </svg>
    Error
  </div>

  <div class="corn-badge corn-badge--info corn-badge--sm">
    <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-hidden="true">
      <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#info-lg"></use>
    </svg>
    Info
  </div>
</div>
