:root {
  --cc-expandable--border-radius: var(--cc-border--radius);
  --cc-expandable--color: var(--cc-gray-90);
  --cc-expandable--color--hover: var(--cc-gray-100);
  --cc-expandable--color--active: var(--cc-black);
  --cc-expandable--focus-ring: var(--cc-form--item--focus-ring);
  --cc-expandable--icon--background: var(--cc-gray-20);
  --cc-expandable--icon--background--hover: var(--cc-gray-30);
  --cc-expandable--icon--background--active: transparent;
}

.corn-expandable {
  display: flex;

  &.corn-panel-menu {
    summary > .corn-icon {
      margin-left: auto;
    }
  }

  details {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
    padding: 0.5rem;

    &.corn-expandable--open {
      overflow: visible;

      > summary .corn-icon {
        transform: rotate(90deg);
        transform-origin: center;
      }

      > .corn-expandable--content {
        grid-template-rows: minmax(0, 1fr);
        opacity: 1;
      }
    }
  }

  details details {
    margin-left: 1.25rem;
  }

  summary {
    align-items: center;
    border-radius: var(--cc-expandable--border-radius);
    color: var(--cc-expandable--color);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 0%;
    font-weight: 500;
    gap: 0.25rem;
    outline: none;

    &:focus-visible {
      .corn-icon {
        box-shadow: var(--cc-expandable--focus-ring);
      }
    }

    &:hover {
      color: var(--cc-expandable--color--hover);

      .corn-icon {
        background-color: var(--cc-expandable--icon--background--hover);
      }
    }

    &:active {
      color: var(--cc-expandable--color--active);

      .corn-icon {
        background-color: var(--cc-expandable--icon--background--active);
      }
    }

    .corn-icon {
      border-radius: 50%;
      height: 1rem;
      padding: 0.25rem;
      transition: transform var(--cc-transition--easing) var(--cc-transition--time);
      width: 1rem;
    }
  }
}

.corn-expandable--content {
  display: grid;
  grid-template-rows: minmax(0, 0fr);
  opacity: 0;
  overflow: hidden;
  transition:
    grid-template-rows var(--cc-transition--easing) var(--cc-transition--time),
    opacity var(--cc-transition--easing) var(--cc-transition--time);
}
