<!-- Expandable Component Demo -->
<div class="expandables-demo">
  <h2>Corn Expandables</h2>

  <h3>Default (Top)</h3>

  <corn-expandable class="corn-expandable corn-panel-menu">
    <details slot="details">
      <summary>
        Summary
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="corn-icon">
          <use href="/node_modules/@carbon/icons/svg/chevron--right.svg"></use>
        </svg>
      </summary>
      <div class="corn-expandable--content">details</div>
    </details>
  </corn-expandable>
  <corn-expandable class="corn-expandable corn-panel-menu">
    <details slot="details">
      <summary>
        Summary 2
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="corn-icon">
          <use href="/node_modules/@carbon/icons/svg/chevron--right.svg"></use>
        </svg>
      </summary>
      <div class="corn-expandable--content">details 2</div>
    </details>
  </corn-expandable>
  <corn-expandable class="corn-expandable corn-panel-menu">
    <details slot="details">
      <summary>
        Summary 3
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="corn-icon">
          <use href="/node_modules/@carbon/icons/svg/chevron--right.svg"></use>
        </svg>
      </summary>
      <div class="corn-expandable--content">details</div>
    </details>
  </corn-expandable>

  <h3>Accordion Single Open</h3>
  <corn-expandable class="corn-expandable corn-panel-menu">
    <details slot="details" name="corn-single">
      <summary>
        Summary
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="corn-icon">
          <use href="/node_modules/@carbon/icons/svg/chevron--right.svg"></use>
        </svg>
      </summary>
      <div class="corn-expandable--content">details</div>
    </details>
  </corn-expandable>
  <corn-expandable class="corn-expandable corn-panel-menu">
    <details slot="details" name="corn-single">
      <summary>
        Summary 2
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="corn-icon">
          <use href="/node_modules/@carbon/icons/svg/chevron--right.svg"></use>
        </svg>
      </summary>
      <div class="corn-expandable--content">details 2</div>
    </details>
  </corn-expandable>
  <corn-expandable class="corn-expandable corn-panel-menu">
    <details slot="details" name="corn-single">
      <summary>
        Summary 3
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="corn-icon">
          <use href="/node_modules/@carbon/icons/svg/chevron--right.svg"></use>
        </svg>
      </summary>
      <div class="corn-expandable--content">details</div>
    </details>
  </corn-expandable>

  <hr />

  <h3>Nested expandable</h3>
  <corn-expandable class="corn-expandable corn-tree-view">
    <details slot="details">
      <summary>
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="corn-icon">
          <use href="/node_modules/@carbon/icons/svg/chevron--right.svg"></use>
        </svg>
        Summary
      </summary>
      <div class="corn-expandable--content">
        <corn-expandable class="corn-expandable corn-tree-view">
          <details slot="details">
            <summary>
              <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="corn-icon">
                <use href="/node_modules/@carbon/icons/svg/chevron--right.svg"></use>
              </svg>
              Summary 2
            </summary>
            <div class="corn-expandable--content">More details</div>
          </details>
        </corn-expandable>
      </div>
    </details>
  </corn-expandable>
</div>
