<!-- Expandable Component Demo -->
<div class="expandables-demo">
  <h2>Corn Expandables</h2>

  <h3>Default</h3>

  <corn-expandable class="corn-expandable">
    <details slot="details">
      <summary class="corn-expandable-button">
        Summary
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-hidden="true">
          <use href="/node_modules/@carbon/icons/svg/chevron--right.svg"></use>
        </svg>
      </summary>
      <div class="corn-expandable--content">
        <div>
          <h3>heading</h3>
          <div>content</div>
        </div>
      </div>
    </details>
  </corn-expandable>
  <h4>Start Open</h4>
  <corn-expandable class="corn-expandable" open>
    <details slot="details">
      <summary class="corn-expandable-button">
        Summary
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-hidden="true">
          <use href="/node_modules/@carbon/icons/svg/chevron--right.svg"></use>
        </svg>
      </summary>
      <div class="corn-expandable--content">
        <div>
          <h3>heading</h3>
          <div>content</div>
        </div>
      </div>
    </details>
  </corn-expandable>
  <hr />
  <corn-expandable class="corn-expandable">
    <details slot="details">
      <summary class="corn-expandable-button">
        Summary 2
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-hidden="true">
          <use href="/node_modules/@carbon/icons/svg/chevron--right.svg"></use>
        </svg>
      </summary>
      <div class="corn-expandable--content">details 2</div>
    </details>
  </corn-expandable>
  <hr />
  <corn-expandable class="corn-expandable">
    <details slot="details">
      <summary class="corn-expandable-button">
        Summary 3
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-hidden="true">
          <use href="/node_modules/@carbon/icons/svg/chevron--right.svg"></use>
        </svg>
      </summary>
      <div class="corn-expandable--content">details</div>
    </details>
  </corn-expandable>

  <h3>Accordion Single Open</h3>
  <div class="corn-accordion">
    <corn-expandable class="corn-expandable">
      <details slot="details" name="corn-single">
        <summary class="corn-expandable-button">
          Summary
          <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-hidden="true">
            <use href="/node_modules/@carbon/icons/svg/chevron--right.svg"></use>
          </svg>
        </summary>
        <div class="corn-expandable--content">details</div>
      </details>
    </corn-expandable>
    <corn-expandable class="corn-expandable">
      <details slot="details" name="corn-single">
        <summary class="corn-expandable-button">
          Summary 2
          <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-hidden="true">
            <use href="/node_modules/@carbon/icons/svg/chevron--right.svg"></use>
          </svg>
        </summary>
        <div class="corn-expandable--content">details 2</div>
      </details>
    </corn-expandable>
    <corn-expandable class="corn-expandable">
      <details slot="details" name="corn-single">
        <summary class="corn-expandable-button">
          Summary 3
          <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-hidden="true">
            <use href="/node_modules/@carbon/icons/svg/chevron--right.svg"></use>
          </svg>
        </summary>
        <div class="corn-expandable--content">details</div>
      </details>
    </corn-expandable>
  </div>
  <hr />

  <h3>Nested expandable</h3>
  <corn-expandable class="corn-expandable corn-tree-view">
    <details slot="details">
      <summary class="corn-expandable-button">
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-hidden="true">
          <use href="/node_modules/@carbon/icons/svg/chevron--right.svg"></use>
        </svg>
        Summary
      </summary>
      <div class="corn-expandable--content">
        <corn-expandable class="corn-expandable corn-tree-view">
          <details slot="details">
            <summary class="corn-expandable-button">
              <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-hidden="true">
                <use href="/node_modules/@carbon/icons/svg/chevron--right.svg"></use>
              </svg>
              Summary 2
            </summary>
            <div class="corn-expandable--content">More details</div>
          </details>
        </corn-expandable>
      </div>
    </details>
  </corn-expandable>
</div>