:root {
  --cc-link--transition--timing: 150ms;
  --cc-link--font--weight: var(--cc-body--font--weight--normal);
  --cc-link--font--weight--bold: var(--cc-body--font--weight--bold);
  --cc-link--font--family: var(--cc-body--font--family);
  --cc-link--color--border: transparent;
  --cc-link--width--border: 1px;
  --cc-link--style--border: solid;
  --cc-link--color--text: var(--cc-blue-60);
  --cc-link--color--text--hover: var(--cc-blue-70);
  --cc-link--color--border--hover: var(--cc-blue-70);
  --cc-link--color--text--active: var(--cc-blue-80);
  --cc-link--color--border--active: var(--cc-blue-80);
  --cc-link--color--text--focus: var(--cc-blue-60);
  --cc-link--color--border--focus: var(--cc-blue-50);
  --cc-link--underline--color--border: var(--cc-blue-50);
  --cc-link--underline--style--border: solid;
  --cc-link--underline--width--border: 1px;
  --cc-link--underline--color--border--hover: var(--cc-blue-50);
  --cc-link--underline--color--border--active: var(--cc-blue-50);
  --cc-link--underline--color--border--focus: var(--cc-blue-50);
  --cc-link--underline--color--text: var(--cc-gray-80);
  --cc-link--underline--width--border--focus: 1px;
  --cc-link--underline--width--border--active: var(--cc-link--underline--width--border);
  --cc-link--underline--color--text--hover: var(--cc-gray-90);
  --cc-link--underline--color--text--active: var(--cc-black);
  --cc-link--underline--box-shadow--hover: 0 2px 2px -2px var(--cc-blue-60);
  --cc-link--underline--box-shadow--focus: 0 2px 2px -2px var(--cc-blue-80);
  --cc-link--underline--box-shadow--active: none;
}

a,
.corn-link {
  border-bottom: var(--cc-link--width--border) var(--cc-link--style--border)
    var(--cc-link--color--border);
  color: var(--cc-link--color--text);
  font-weight: var(--cc-link--font--weight);
  position: relative;
  text-decoration: none;
  transition:
    border-bottom-color var(--cc-link--transition--timing),
    box-shadow var(--cc-link--transition--timing);

  &:hover,
  &:active,
  &:focus-visible {
    text-decoration: none;
  }

  &:hover {
    border-bottom-color: var(--cc-link--color--border--hover);
    box-shadow: var(--cc-link--underline--box-shadow--hover);
    color: var(--cc-link--color--text--hover);
  }

  &:active {
    border-bottom-color: var(--cc-link--color--border--active);
    box-shadow: var(--cc-link--underline--box-shadow--active);
    color: var(--cc-link--color--text--active);
  }

  /* Hide the default focus outline. This takes the form of an underline. */
  &:focus-visible {
    border-bottom-color: var(--cc-link--color--border--focus);
    box-shadow: var(--cc-link--underline--box-shadow--focus);
    outline: 0;

    &:hover {
      border-bottom-color: var(--cc-link--color--border--hover);
    }

    &:active {
      border-bottom-color: transparent;
    }
  }
}

a {
  border-bottom-color: var(--cc-link--underline--color--border);
}

/* .corn-link--underline {
  border-bottom: var(--cc-link--underline--width--border) var(--cc-link--underline--style--border)
    var(--cc-link--underline--color--border);
  color: var(--cc-link--underline--color--text);

  &:hover,
  &:hover:focus {
    border-bottom-color: var(--cc-link--underline--color--border--hover);
    color: var(--cc-link--underline--color--text--hover);
  }

  &:focus-visible {
    border-bottom-color: var(--cc-link--underline--color--border--focus);
    border-bottom-width: var(--cc-link--underline--width--border--focus);
    color: var(--cc-link--underline--color--text--active);
  }

  &:active,
  &:active:hover {
    border-bottom-color: var(--cc-link--underline--color--border--active);
    border-bottom-width: var(--cc-link--underline--width--border--active);
    box-shadow: none;
    color: var(--cc-link--underline--color--text--active);
  }
} */


