:root {
  --cc-link--transition--timing: 150ms;

  /* Default link `font-weight` */
  --cc-link--font--weight: var(--cc-body--font--weight--normal);

  /* Default link bold `font-weight` */
  --cc-link--font--weight--bold: var(--cc-body--font--weight--bold);

  /* Default link `font-family` */
  --cc-link--font--family: var(--cc-body--font--family);

  /* Default link's `border-color` */
  --cc-link--color--border: transparent;

  /* Default link's `border-width` */
  --cc-link--width--border: 1px;

  /* Default link's `border-style` */
  --cc-link--style--border: solid;

  /* Default link `color` */
  --cc-link--color--text: var(--cc-blue-60);

  /* Default link `color` on hover */
  --cc-link--color--text--hover: var(--cc-blue-70);

  /* Default link `border` on hover */
  --cc-link--color--border--hover: var(--cc-blue-70);

  /* Default link `color` when active */
  --cc-link--color--text--active: var(--cc-blue-80);

  /* Default link `border` when active */
  --cc-link--color--border--active: var(--cc-blue-80);

  /* Default link `color` on focus */
  --cc-link--color--text--focus: var(--cc-blue-60);

  /* Default link `border-color` on focus */
  --cc-link--color--border--focus: var(--cc-blue-50);

  /* Underlined links */

  /* Underlined link `border-color` */
  --cc-link--underline--color--border: var(--cc-blue-50);

  /* Underlined link `border-style` */
  --cc-link--underline--style--border: solid;

  /* Underlined link `border-width` */
  --cc-link--underline--width--border: 1px;

  /* Underlined link `border-color` on hover; */
  --cc-link--underline--color--border--hover: var(--cc-blue-50);

  /* Underlined link `border-color` on active; */
  --cc-link--underline--color--border--active: var(--cc-blue-50);

  /* Underlined link `border-color` on focus; */
  --cc-link--underline--color--border--focus: var(--cc-blue-50);

  /* Underlined link `color` */
  --cc-link--underline--color--text: var(--cc-gray-80);

  /* Underlined link `border-width` on focus */
  --cc-link--underline--width--border--focus: 1px;

  /* Underlined link `border-width` on active */
  --cc-link--underline--width--border--active: var(--cc-link--underline--width--border);

  /* Underlined link `color` on hover */
  --cc-link--underline--color--text--hover: var(--cc-gray-90);

  /* Underlined link `color` when active */
  --cc-link--underline--color--text--active: var(--cc-black);
}
