<h1>Link Stickersheet</h1>

<hr />

<section id="links">
  <h2>Links</h2>
  <div>
    <a href="#example-link" class="corn-link">Forgot Username or Password?</a>
  </div>

  <div>
    <a href="#example-link" class="corn-link">Create a new account</a>
  </div>
</section>

<hr />

<section id="inline-links">
  <h2>Inline Links</h2>
  <p>
    The language includes over
    <a href="#example-link" class="corn-link--underline">40 coded user interface elements</a>,
    including buttons, form controls, navigation, modals and more, as well as several
    <a href="#example-link" class="corn-link--underline">page templates</a>. We’re continuing to
    release <a href="#example-link" class="corn-link--underline">additional components</a> to meet
    the needs of our diverse product suite.
  </p>
</section>

<section id="link-lists">
  <h2>Link Lists</h2>
  <ul class="corn-link-list">
    <li><a href="#" class="corn-link">Link list item one</a></li>
    <li><a href="#" class="corn-link">Link list item two</a></li>
    <li><a href="#" class="corn-link">Link list item three</a></li>
  </ul>
</section>
