<h1>Link Stickersheet</h1>

<hr />

<section id="links">
  <h2>Links</h2>
  <div>
    <a href="#example-link" class="corn-link">Forgot Username or Password?</a>
  </div>

  <div>
    <a href="#example-link" class="corn-link">Create a new account</a>
  </div>
</section>

<hr />

<section id="inline-links">
  <h2>Inline Links</h2>
  <p>
    The language includes over
    <a href="#example-link" class="corn-link--underline">40 coded user interface elements</a>,
    including buttons, form controls, navigation, modals and more, as well as several
    <a href="#example-link" class="corn-link--underline">page templates</a>. We’re continuing to
    release <a href="#example-link" class="corn-link--underline">additional components</a> to meet
    the needs of our diverse product suite.
  </p>
</section>
