<!-- Checkbox Component Demo -->
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const indeterminateCheckbox = document.getElementById('example-indeterminate');
    if (indeterminateCheckbox) {
      indeterminateCheckbox.indeterminate = true;
    }
  });
</script>

<div class="checkbox-demo">
  <h2>Checkboxes</h2>
  <section id="checkboxes">
    <h2>Checkboxes</h2>
    <fieldset class="corn-form--item corn-checkbox-group">
      <legend>Group Label</legend>
      <div class="corn-checkbox">
        <input type="checkbox" id="example-indeterminate" name="example-indeterminate" />
        <label for="example-indeterminate">Indeterminate checkbox</label>
      </div>
      <hr />
      <div class="corn-checkbox corn-checkbox--xs">
        <input type="checkbox" id="example1" name="example" />
        <label for="example1">Checkbox One xs</label>
      </div>
      <div class="corn-checkbox corn-checkbox--sm">
        <input type="checkbox" id="example2" name="example" />
        <label for="example2">Checkbox Two sm</label>
      </div>
      <div class="corn-checkbox corn-checkbox--md">
        <input type="checkbox" id="example3" name="example" />
        <label for="example3">Checkbox Default md </label>
      </div>
      <div class="corn-checkbox corn-checkbox--lg">
        <input type="checkbox" id="example4" name="example" />
        <label for="example4">Checkbox 4 lg</label>
      </div>
      <div class="corn-checkbox corn-checkbox--xl">
        <input type="checkbox" id="example5" checked name="example" />
        <label for="example5">Checkbox 5 xl</label>
      </div>
      <div class="corn-checkbox">
        <input type="checkbox" id="example6" />
        <label for="example6" name="example">Checkbox Six...</label>
      </div>
    </fieldset>
  </section>

  <hr />

  <section id="checkboxes-inline">
    <fieldset class="corn-form--item corn-checkbox-group corn-checkbox-group--inline">
      <legend>Group Label</legend>
      <div class="corn-checkbox">
        <input type="checkbox" id="example1-inline" name="example-inline" />
        <label for="example1-inline">Checkbox One...</label>
      </div>
      <div class="corn-checkbox">
        <input type="checkbox" id="example2-inline" name="example-inline" />
        <label for="example2-inline">Checkbox Two...</label>
      </div>
      <div class="corn-checkbox">
        <input type="checkbox" id="example3-inline" name="example-inline" />
        <label for="example3-inline">Checkbox Three...</label>
      </div>
      <div class="corn-checkbox">
        <input type="checkbox" id="example4-inline" name="example-inline" />
        <label for="example4-inline">Checkbox Four...</label>
      </div>
      <div class="corn-checkbox">
        <input type="checkbox" id="example5-inline" checked name="example-inline" />
        <label for="example5-inline">Checkbox Five...</label>
      </div>
      <div class="corn-checkbox">
        <input type="checkbox" id="example6-inline" />
        <label for="example6-inline" name="example-inline">Checkbox Six...</label>
      </div>
      <div class="corn-checkbox">
        <input type="checkbox" id="example7-inline" />
        <label for="example7-inline" name="example-inline">Checkbox Seven...</label>
      </div>
    </fieldset>
  </section>
</div>
