<div class="toggle-demo">
  <h2>Toggles</h2>
  <section id="toggles">
    <h3>Toggles - XS</h3>
    <fieldset class="corn-form--item corn-toggle-group corn-toggle--xs" aria-labelledby="legend1">
      <legend id="legend1">Group Label</legend>
      <div class="corn-toggles">
        <div class="corn-toggle">
          <input type="radio" id="example1" name="example-xs" checked />
          <label for="example1">One</label>
        </div>
        <div class="corn-toggle">
          <input type="radio" id="example2" name="example-xs" />
          <label for="example2">Two</label>
        </div>
      </div>
    </fieldset>

    <h3>Toggles - SM</h3>
    <fieldset class="corn-form--item corn-toggle-group corn-toggle--sm" aria-labelledby="legend2">
      <legend id="legend2">Group Label</legend>
      <div class="corn-toggles">
        <div class="corn-toggle">
          <input type="radio" id="example3" name="example-sm" checked />
          <label for="example3">One</label>
        </div>
        <div class="corn-toggle">
          <input type="radio" id="example4" name="example-sm" />
          <label for="example4">Two</label>
        </div>
      </div>
    </fieldset>

    <h3>Toggles - MD</h3>
    <fieldset class="corn-form--item corn-toggle-group corn-toggle--md" aria-labelledby="legend3">
      <legend id="legend3">Group Label</legend>
      <div class="corn-toggles">
        <div class="corn-toggle">
          <input type="radio" id="example5" name="example-md" checked />
          <label for="example5">One</label>
        </div>
        <div class="corn-toggle">
          <input type="radio" id="example6" name="example-md" />
          <label for="example6">Two</label>
        </div>
        <div class="corn-toggle">
          <input type="radio" id="example7" name="example-md" />
          <label for="example7">Three</label>
        </div>
      </div>
    </fieldset>

    <h3>Toggles - LG</h3>
    <fieldset class="corn-form--item corn-toggle-group corn-toggle--lg" aria-labelledby="legend4">
      <legend id="legend4">Group Label</legend>
      <div class="corn-toggles">
        <div class="corn-toggle">
          <input type="radio" id="example8" name="example-lg" />
          <label for="example8">One</label>
        </div>
        <div class="corn-toggle">
          <input type="radio" id="example9" name="example-lg" checked />
          <label for="example9">Two</label>
        </div>
      </div>
    </fieldset>

    <h3>Toggles - XL</h3>
    <fieldset class="corn-form--item corn-toggle-group corn-toggle--xl" aria-labelledby="legend5">
      <legend id="legend5">Group Label</legend>
      <div class="corn-toggles">
        <div class="corn-toggle">
          <input type="radio" id="example10" name="example-xl" />
          <label for="example10">One</label>
        </div>
        <div class="corn-toggle">
          <input type="radio" id="example11" name="example-xl" checked />
          <label for="example11">Two</label>
        </div>
      </div>
    </fieldset>
  </section>

  <h2>Icon Toggles</h2>
  <section id="icon-toggles">
    <h3>Toggles - XS</h3>
    <fieldset class="corn-form--item corn-toggle-group corn-toggle--xs" aria-labelledby="legend1">
      <legend id="legend1">Group Label</legend>
      <div class="corn-toggles">
        <div class="corn-toggle">
          <input type="radio" id="example1-icon" name="example-xs-icon" checked />
          <label for="example1-icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-label="Lock">
              <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#lock"></use>
            </svg>
          </label>
        </div>
        <div class="corn-toggle">
          <input type="radio" id="example2-icon" name="example-xs-icon" />
          <label for="example2-icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-label="Unlock">
              <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#unlock"></use>
            </svg>
          </label>
        </div>
      </div>
    </fieldset>

    <h3>Toggles - SM</h3>
    <fieldset class="corn-form--item corn-toggle-group corn-toggle--sm" aria-labelledby="legend2">
      <legend id="legend2">Group Label</legend>
      <div class="corn-toggles">
        <div class="corn-toggle">
          <input type="radio" id="example3-icon" name="example-sm-icon" checked />
          <label for="example3-icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-label="Lock">
              <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#lock"></use>
            </svg>
          </label>
        </div>
        <div class="corn-toggle">
          <input type="radio" id="example4-icon" name="example-sm-icon" />
          <label for="example4-icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-label="Unlock">
              <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#unlock"></use>
            </svg>
          </label>
        </div>
      </div>
    </fieldset>

    <h3>Toggles - MD</h3>
    <fieldset class="corn-form--item corn-toggle-group corn-toggle--md" aria-labelledby="legend3">
      <legend id="legend3">Group Label</legend>
      <div class="corn-toggles">
        <div class="corn-toggle">
          <input type="radio" id="example5-icon" name="example-md-icon" checked />
          <label for="example5-icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-label="Smile">
              <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#emoji-smile"></use>
            </svg>
          </label>
        </div>
        <div class="corn-toggle">
          <input type="radio" id="example6-icon" name="example-md-icon" />
          <label for="example6-icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-label="Neutral">
              <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#emoji-neutral"></use>
            </svg>
          </label>
        </div>
        <div class="corn-toggle">
          <input type="radio" id="example7-icon" name="example-md-icon" />
          <label for="example7-icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-label="Frown">
              <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#emoji-frown"></use>
            </svg>
          </label>
        </div>
      </div>
    </fieldset>

    <h3>Toggles - LG</h3>
    <fieldset class="corn-form--item corn-toggle-group corn-toggle--lg" aria-labelledby="legend4">
      <legend id="legend4">Group Label</legend>
      <div class="corn-toggles">
        <div class="corn-toggle">
          <input type="radio" id="example8-icon" name="example-lg-icon" />
          <label for="example8-icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-label="Lock">
              <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#lock"></use>
            </svg>
          </label>
        </div>
        <div class="corn-toggle">
          <input type="radio" id="example9-icon" name="example-lg-icon" checked />
          <label for="example9-icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-label="Unlock">
              <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#unlock"></use>
            </svg>
          </label>
        </div>
      </div>
    </fieldset>

    <h3>Toggles - XL</h3>
    <fieldset class="corn-form--item corn-toggle-group corn-toggle--xl" aria-labelledby="legend5">
      <legend id="legend5">Group Label</legend>
      <div class="corn-toggles">
        <div class="corn-toggle">
          <input type="radio" id="example10-icon" name="example-xl-icon" />
          <label for="example10-icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-label="Lock">
              <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#lock"></use>
            </svg>
          </label>
        </div>
        <div class="corn-toggle">
          <input type="radio" id="example11-icon" name="example-xl-icon" checked />
          <label for="example11-icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="corn-icon" aria-label="Unlock">
              <use href="/node_modules/bootstrap-icons/bootstrap-icons.svg#unlock"></use>
            </svg>
          </label>
        </div>
      </div>
    </fieldset>
  </section>
</div>
