:root {
  --cc-popover--background: var(--cc-white);
  --cc-popover--border: var(--cc-border--width) var(--cc-border--style) var(--cc-border--color);
  --cc-popover--border-radius: var(--cc-border--radius);
  --cc-popover--box-shadow: var(--cc-shadow--drop);
  --cc-popover--color: var(--cc-ink);
  --cc-popover--font-size: var(--cc-size-0);
  --cc-popover--gap: 0.5rem;
  --cc-popover--padding: 0.75rem;
  --cc-popover--transition: opacity var(--cc-transition--easing) var(--cc-transition--time);
}