<!-- Popover Component Demo -->
<script>
  class PopoverDemo extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      console.log('PopoverDemo connected to the DOM');
      this.render();
    }
    render() {
      this.innerHTML = `
      <div>

      <form class="corn-form" id="hex-seed-form">
        <div class="corn-row">
          <div class="corn-col-4">
            <div class="corn-form--item" id="hex-seed-item">
              <div class="corn-text-input corn-text-input--xs">
                <input id="hex-seed-input" name="input" placeholder="Hex value" value=""/>
                <label for="hex-seed-input" class="corn-assistive-text">
                  Enter a hex seed value
                </label>
              </div>
              <div class="corn-status"></div>
            </div>
          </div>
          <div class="corn-col-8">
            <div class="corn-button-group">
              <button class="corn-button corn-button--xs" type="submit">Validate</button>
            </div>
          </div>
        </div>
      </form>

      <div id="hex-preview" style="margin-top: var(--cc-size-0);">
        <form class="corn-form" id="hex-preview-form">
          <div class="corn-row">
            <div class="corn-col-12">
              <p id="base-hex-color" class="hex-preview hex-user">#</p>
            </div>
            <div class="corn-col-6">
              <div id="closest-hsluv-preview" class="hex-preview">
                <p>#</p>
                <button type="submit" class="corn-button corn-button--xs" id="copy-hsluv-hex" value="hsluv">USE HSLUV</button>
              </div>
            </div>
            <div class="corn-col-6">
              <div id="closest-okhsl-preview" class="hex-preview">
                <p>#</p>                    
                <button type="submit" class="corn-button corn-button--xs" id="copy-okhsl-hex" value="okhsl">USE OKHSL</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    `;
    }
  }
  customElements.define('popover-nested-component', PopoverDemo);
</script>
<div class="popover-demo">
  <h2>Corn Popover</h2>

  <h3>Default (Top)</h3>
  <div class="corn-popover--anchor">
    <button class="corn-button corn-pop" aria-controls="popover-top">Default (Top)</button>
    <corn-popover position="top" id="popover-top" class="corn-popover">
      <ul>
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a></li>
      </ul>
    </corn-popover>
  </div>

  <h3>Right Position</h3>
  <div class="corn-popover--anchor">
    <button class="corn-button corn-pop" aria-controls="popover-right">Right</button>
    <corn-popover position="right" id="popover-right" class="corn-popover">
      <ul>
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a></li>
      </ul>
    </corn-popover>
  </div>
  <h3>Bottom Position</h3>
  <div class="corn-popover--anchor">
    <button class="corn-button corn-pop" aria-controls="popover-bottom">Bottom</button>
    <corn-popover position="bottom" id="popover-bottom" class="corn-popover">
      <ul>
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a></li>
      </ul>
    </corn-popover>
  </div>

  <h3>Left Position</h3>
  <div class="corn-popover--anchor">
    <button class="corn-button corn-pop" aria-controls="popover-left">Left</button>
    <corn-popover position="left" id="popover-left" class="corn-popover">
      <ul>
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a></li>
      </ul>
    </corn-popover>
  </div>

  <h3>Popover With Form</h3>
  <div class="corn-popover--anchor">
    <button class="corn-button corn-pop" aria-controls="popover-right">Form</button>
    <corn-popover position="right" id="popover-right" class="corn-popover">
      <popover-nested-component> </popover-nested-component>
    </corn-popover>
  </div>

  <h3>Nested Bottom Position</h3>
  <div class="corn-popover--anchor">
    <button class="corn-button corn-pop" aria-controls="nest-popover-bottom">Nested Bottom</button>
    <corn-popover position="bottom" id="nest-popover-bottom" class="corn-popover">
      <ul>
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li>
          <div class="corn-popover--anchor">
            <button class="corn-button corn-pop corn-button--xs" aria-controls="nest-popover-right">nested right</button>
            <corn-popover position="right" id="nest-popover-right" class="corn-popover">
              <ul>
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Item 2</a></li>
                <li><a href="#">Item 3</a></li>
              </ul>
            </corn-popover>
          </div>
        </li>
      </ul>
    </corn-popover>
  </div>
</div>
