---
import Logo from '../../../../dist/corncob-design-language.svg';
---

<footer class="corn-footer">
  <div class="corn-footer--copyright">
    <div class="corn-company--logo">
      <Logo aria-hidden="true" />
    </div>&copy; 2026 BootsMonday. All rights reserved.
  </div>
</footer>
