---
import Logo from '../../../../dist/corncob-design-language.svg';
---

<header class="corn-header">
  <div class="corn-company">
    <div class="corn-company--logo">
      <Logo aria-hidden="true" />
    </div>
    <div class="corn-company--name">Corncob</div>
  </div>
  <nav class="corn-header--nav">
    <corn-button-bar class="corn-button-bar">
      <a href="/" class="corn-link">Overview</a>
      <a href="/getting-started/" class="corn-link">Getting Started</a>
      <a href="/components/buttons/" class="corn-link">Buttons</a>
      <div class="corn-popover--anchor corn-button-bar--more">
        <button class="corn-button corn-button--xs corn-pop" aria-controls="button-bar-popover">
          More
        </button>
        <corn-popover
          position="bottom"
          id="button-bar-popover"
          class="corn-popover corn-popover--bottom"></corn-popover>
      </div>
    </corn-button-bar>
  </nav>
</header>
