:root {
  --cc-border--width: 1px;
  --cc-border--style: solid;
  --cc-border--radius: 4px;
  --cc-border--radius--xs: 2px;
  --cc-border--radius-round: 50%;
  --cc-border--color: var(--cc-gray-70);
  --cc-focus-ring: 0 0 0 3px var(--cc-blue-60);
}
