/* Typography Tokens */
:root {
  /* Font Family */
  --cc-font-family: system-ui, -apple-system, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --cc-font-family-mono: "SFMono-Regular", consolas, "Liberation Mono", menlo, courier, monospace;

  /* Font Sizes */

  /* 10.24px */
  --cc-font-size--xs: var(--cc-size--2);

   /* 12.8px */
  --cc-font-size--sm: var(--cc-size--1);

   /* 16px */
  --cc-font-size--base: var(--cc-size-0);

   /* 20px */
  --cc-font-size--lg: var(--cc-size-1);

  /* 25px */
  --cc-font-size--xl: var(--cc-size-2);

  /* 31.25 px */
  --cc-font-size--2xl: var(--cc-size-3);

  /* 39.063px */
  --cc-font-size--3xl: var(--cc-size-4);

  /* 48.82px */
  --cc-font-size--4xl: var(--cc-size-5);
  --cc-font-weight--thin: 100;
  --cc-font-weight--light: 300;
  --cc-font-weight--normal: 400;
  --cc-font-weight--medium: 500;
  --cc-font-weight--semibold: 600;
  --cc-font-weight--bold: 700;
  --cc-font-weight--extrabold: 800;

  /* Line Heights */
  --cc-line-height--tight: 1.2;
  --cc-line-height--normal: 1.5;
  --cc-line-height--relaxed: 1.75;
  --cc-line-height--loose: 2;

  /* Letter Spacing */
  --cc-letter-spacing--tighter: -0.05rem;
  --cc-letter-spacing--tight: -0.025rem;
  --cc-letter-spacing--normal: 0rem;
  --cc-letter-spacing--wide: 0.025rem;
  --cc-letter-spacing--wider: 0.05rem;
}
