/* Typography Tokens */
:root {
  /* Font Family */
    --cc-font-family: system-ui, -apple-system, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --cc-font-family-mono: "SFMono-Regular", consolas, "Liberation Mono", menlo, courier, monospace;

  /* Font Sizes */

  --cc-font-size--xs: var(--cc-size--2);
  --cc-font-size--sm: var(--cc-size--1);
  --cc-font-size--base: var(--cc-size-0);
  --cc-font-size--lg: var(--cc-size-1);
  --cc-font-size--xl: var(--cc-size-2);
  --cc-font-size--2xl: var(--cc-size-3);
  --cc-font-size--3xl: var(--cc-size-4);
  --cc-font-size--4xl: var(--cc-size-5);
  --cc-font-weight--thin: 100;
  --cc-font-weight--light: 300;
  --cc-font-weight--normal: 400;
  --cc-font-weight--medium: 500;
  --cc-font-weight--semibold: 600;
  --cc-font-weight--bold: 700;
  --cc-font-weight--extrabold: 800;

  /* Line Heights */
  --cc-line-height--tight: 1.2;
  --cc-line-height--normal: 1.5;
  --cc-line-height--relaxed: 1.75;
  --cc-line-height--loose: 2;

  /* Letter Spacing */
  --cc-letter-spacing--tighter: -0.05rem;
  --cc-letter-spacing--tight: -0.025rem;
  --cc-letter-spacing--normal: 0rem;
  --cc-letter-spacing--wide: 0.025rem;
  --cc-letter-spacing--wider: 0.05rem;
}

h1 {
  margin-bottom: var(--cc-spacing-2);
}

h2 {
  margin-bottom: var(--cc-spacing-1);
}

h3 {
  margin-bottom: var(--cc-spacing-0);
}

h4 {
  margin-bottom: var(--cc-spacing--1);
}

h5 {
  margin-bottom: var(--cc-spacing--1);
}

h6 {
  margin-bottom: var(--cc-spacing--1);
}
