.corn-form--row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--cc-size--3);
}

.corn-form {
  display: flex;
  flex-direction: column;
  gap: var(--cc-size--3);
}

fieldset.corn-form--item:has(input[disabled]) {
  background-color: transparent !important;
}

.corn-form--item {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;

  .corn-status {
    margin-top: var(--cc-size--4);
  }

  &:has(input[disabled]) {
    box-shadow: var(--cc-form--item--focus-ring--disabled);
    color: var(--cc-form--item--color--disabled);
    cursor: not-allowed !important;

    .corn-icon {
      border-color: var(--cc-form--item--border-color--disabled);
    }

    .corn-status {
      color: var(--cc-form--item--color--disabled);
      opacity: 0.5;
    }
  }
}

.corn-status {
  align-items: center;
  color: currentcolor;
  display: inline-flex;
  gap: var(--cc-size--4);
  text-shadow: var(--cc-shadow--shadow--text--reverse);
  width: 100%;

  .corn-icon {
    color: currentcolor;
    fill: currentcolor;
    height: var(--cc-size-1);
    margin-left: var(--cc-size--4);
    width: var(--cc-size-1);
  }
}

.corn-status--success {
  .corn-status {
    color: var(--cc-green-60);
  }

  .corn-text-input {
    label {
      color: var(--cc-green-60);
    }
  }
}

.corn-status--warning {
  .corn-status {
    color: var(--cc-yellow-60);
  }
}

.corn-status--error {
  .corn-status {
    color: var(--cc-red-60);
  }
}
