.corn-body {
  background: var(--cc-body--background);

  /* font-family: var(--cc-font-family); */
}

hr {
  border-color: rgb(from var(--cc-border--color) r g b / 67.2%);
  border-radius: 1px;
  border-style: solid;
  margin: var(--cc-spacing-1) 0;
}

.corn-icon {
  color: currentcolor;
  display: inline-flex;
  fill: currentcolor;
  flex: 0 0 auto;
  height: 1rem;
  width: 1rem;
}

.corn-assistive-text {
  border: 0;
  clip-path: inset(50%); /* Modern browsers */
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


h1 {
  margin-bottom: var(--cc-spacing-2);
}

h2 {
  margin-bottom: var(--cc-spacing-1);
}

h3 {
  margin-bottom: var(--cc-spacing-0);
}

h4 {
  margin-bottom: var(--cc-spacing--1);
}

h5 {
  margin-bottom: var(--cc-spacing--1);
}

h6 {
  margin-bottom: var(--cc-spacing--1);
}


/* Accessibility */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}
