<div class="switch-demo">
  <h2>Switches</h2>
  <section id="switches">
    <h3>Switches - XS</h3>
    <fieldset class="corn-form--item corn-switch-group corn-switch--xs">
      <legend>Group Label</legend>
      <div class="corn-switch">
        <input type="checkbox" id="example1" name="example-xs" checked />
        <label for="example1"><span class="corn-assistive-text">Switch</span></label>
      </div>
    </fieldset>

    <h3>Switches - SM</h3>
    <fieldset class="corn-form--item corn-switch-group corn-switch--sm">
      <legend>Group Label</legend>
      <div class="corn-switch">
        <input type="checkbox" id="example3" name="example-sm" checked />
        <label for="example3"><span class="corn-assistive-text">Switch</span></label>
      </div>
    </fieldset>

    <h3>Switches - MD</h3>
    <fieldset class="corn-form--item corn-switch-group corn-switch--md">
      <legend>Group Label</legend>
      <div class="corn-switch">
        <input type="checkbox" id="example5" name="example-md" checked />
        <label for="example5"><span class="corn-assistive-text">Switch</span></label>
      </div>
    </fieldset>

    <h3>Switches - LG</h3>
    <fieldset class="corn-form--item corn-switch-group corn-switch--lg">
      <legend>Group Label</legend>
      <div class="corn-switch">
        <input type="checkbox" id="example7" name="example-lg" />
        <label for="example7"><span class="corn-assistive-text">Switch</span></label>
      </div>
    </fieldset>

    <h3>Switches - XL</h3>
    <fieldset class="corn-form--item corn-switch-group corn-switch--xl">
      <legend>Group Label</legend>
      <div class="corn-switch">
        <input type="checkbox" id="example9" name="example-xl" />
        <label for="example9"><span class="corn-assistive-text">Switch</span></label>
      </div>
    </fieldset>
  </section>
</div>
