:root {
  --cc-switch--size--xs: var(--cc-form--item--size--xs);
  --cc-switch--size--sm: var(--cc-form--item--size--xs);
  --cc-switch--size--md: var(--cc-form--item--size--sm);
  --cc-switch--size--lg: var(--cc-form--item--size--sm);
  --cc-switch--size--xl: var(--cc-form--item--size--md);
  --cc-switch--font-size--md: var(--cc-form--item--font-size--md);
  --cc-switch--font-size--xs: var(--cc-form--item--font-size--xs);
  --cc-switch--font-size--sm: var(--cc-form--item--font-size--sm);
  --cc-switch--font-size--lg: var(--cc-form--item--font-size--lg);
  --cc-switch--font-size--xl: var(--cc-form--item--font-size--xl);
  --cc-switch--background: var(--cc-form--item--color--background);
  --cc-switch--background--hover: var(--cc-blue-30); 
  --cc-switch--background--checked: var(--cc-form--widget--color);
  --cc-switch--background--checked--hover: var(--cc-form--widget--color--hover);
  --cc-switch--border: var(--cc-border--width) var(--cc-border--style) var(--cc-border--color);
  --cc-switch--border-color--focus: var(--cc-form--item--border--color--focus);
  --cc-switch--border-radius: var(--cc-border--radius);
  --cc-switch--color--checked: var(--cc-white);
  --cc-switch--focus-ring: var(--cc-form--item--focus-ring);
  --cc-switch--widget--outline: inset 0 0 0 2px var(--cc-gray-20);
}