@import './switch-tokens.css';

fieldset.corn-switch-group {
  align-items: center;
  border: none;
  display: grid;
  gap: 0;
  grid-template-columns: 1fr auto;
  margin: 0;
  padding: 0;

  legend {
    display: contents;
  }

  .corn-status {
    grid-column: span 2;
  }
}


.corn-switch {
  align-items: center;
  background: var(--cc-switch--background);
  cursor: pointer;
  display: flex;
  position: relative;

  &:has(input:checked) {
    input {
      background-color: var(--cc-switch--background--checked);
      color: var(--cc-switch--color--checked);
      transform: translateX(100%);
    }
    
  }

  &:hover {
    input {
      background: var(--cc-switch--background--hover);
    }

    input:checked {
      background: var(--cc-switch--background--checked--hover);
    }
  }

  &:has(input:focus-visible) {
    label {
      border-color: var(--cc-switch--border-color--focus);
      box-shadow: var(--cc-switch--focus-ring);
    }
    
  }

  input {
    align-items: center;
    appearance: none;
    border: var(--cc-switch--border);
    border-radius: var(--cc-switch--border-radius);
    cursor: pointer;
    display: flex;
    font-size: var(--cc-switch--font-size--sm);
    height: var(--cc-switch--size--sm);
    justify-content: center;
    position: absolute;
    transform: translateX(0%);
    transition: transform var(--cc-transition--time) var(--cc-transition--easing),
    background-color var(--cc-transition--time) var(--cc-transition--easing);
    width: var(--cc-switch--size--sm);

    &::after {
      border-color: #fff;
      border-radius: 1px;
      border-style: solid;
      border-width: 0 0.11em 0.11em 0;
      content: '';
      display: block;
      font-size: inherit;
      height: 0.7em;
      margin-top: -0.3rem;
      opacity: 0;
      scale: 0.65;
      transform: rotate(45deg);
      transition:
        opacity var(--cc-transition--time--fast) var(--cc-transition--easing),
        scale var(--cc-transition--time--fast) var(--cc-transition--easing),
        box-shadow var(--cc-transition--time--fast) var(--cc-transition--easing);
      width: 0.4em;
    }

    &:checked {
      background: var(--cc-checkbox--input--background--checked);

      &::after {
        opacity: 1;
        scale: 1.05;
      }
    }    
  }

  label {
    border-radius: var(--cc-switch--border-radius);
    box-shadow: var(--cc-switch--widget--outline);
    cursor: pointer;
    height: var(--cc-switch--size--sm);
    width: calc(2 * var(--cc-switch--size--sm));
  }

  &:has(input:disabled) {
    label {
      background-color: var(--cc-switch--background--disabled);
      color: var(--cc-switch--color--disabled);
      cursor: not-allowed;
    }

    input {
      background-color: transparent !important;
    }

    &:has(input:checked) {
      label {
        border-color: var(--cc-form--item--border-color--disabled);
      }

      input::after {
        opacity: 0;
        scale: 1.05;
      }
    }
  }
}

.corn-switch--xs {
  input {
    font-size: var(--cc-switch--font-size--xs);
    height: var(--cc-switch--size--xs);
    width: var(--cc-switch--size--xs);
  }

  label {
    height: var(--cc-switch--size--xs);
    width: calc(2 * var(--cc-switch--size--xs));
  }

  legend{
    font-size: var(--cc-switch--font-size--xs);
  }
}

.corn-switch--sm {
  input {
    font-size: var(--cc-switch--font-size--sm);
    height: var(--cc-switch--size--sm);
    width: var(--cc-switch--size--sm);
  }

  label {
    height: var(--cc-switch--size--sm);
    width: calc(2 * var(--cc-switch--size--sm));
  }

  legend {
    font-size: var(--cc-switch--font-size--sm);
  }
}

.corn-switch--md {
  input {
    font-size: var(--cc-switch--font-size--md);
    height: var(--cc-switch--size--md);
    width: var(--cc-switch--size--md);
  }

  label {
    height: var(--cc-switch--size--md);
    width: calc(2 * var(--cc-switch--size--md));
  }

  legend {
    font-size: var(--cc-switch--font-size--md);
  }
}

.corn-switch--lg {
  input {
    font-size: var(--cc-switch--font-size--lg);
    height: var(--cc-switch--size--lg);
    width: var(--cc-switch--size--lg);
  }

  label {
    height: var(--cc-switch--size--lg);
    width: calc(2 * var(--cc-switch--size--lg));
  }

  legend {
    font-size: var(--cc-switch--font-size--lg);
  }
}

.corn-switch--xl {
  input {
    font-size: var(--cc-switch--font-size--xl);
    height: var(--cc-switch--size--xl);
    width: var(--cc-switch--size--xl);
  }

  label {
    height: var(--cc-switch--size--xl);
    width: calc(2 * var(--cc-switch--size--xl));
  }

  legend {
    font-size: var(--cc-switch--font-size--xl);
  }
}

